body {
  padding: 0;
  margin: 0;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  height: 10000px;
}

p {
  margin: 0;
}

.container-onsale-trendingartworks {
  display: flex;
  justify-content: space-between;
}

.header-slider-container {
  height: 725px;
  position: relative;
}

div {
  margin: 0px;
}
