.categories {

    height: 400px;
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;

}

.category {
    background-color: rgba(240, 240, 240, 100);
    width: 200px;
    height: 230px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: scale 0.15s;
    position: relative;

}

.category:hover {
    scale: 1.1;
}

.category-name {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;

    position: absolute;
    top:30px
  
}


.paintings, .sketches, .digital-art, .crafts, .photography {
    width: 100px;
    position: absolute;
}

.paintings {
    top: 60px;
}

.sketches {
    top: 85px;
}

.digital-art {
    top: 60px;
}

.photography {
    width: 150px;
    top: 45px;
}

.crafts {
    width: 80px;
    top: 90px;
}
