.header {
    display: flex;
    flex-direction: column;
  
    align-items: center;

    height: 135px;
    left: 0;
    right: 0;

    z-index: 1000;

    position: absolute;
    top: 0px;

    transition: background-color 0.15s;

}

.header:hover {
    background-color: white;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
    opacity: 0.9;
    
}

.header:hover .top-middle-section p, .header:hover .top-right-section p, .header:hover .top-left-section p {
    color: black;
}

.header:hover .top-left-section img, .header:hover .top-right-section img  {
    filter: none
}



.top-section {
    display: flex;
    width: 100%;
    margin-top: 20px;
}

.top-left-section {
    display: flex;
    align-items: center;
    width: 200px;

}

.top-middle-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    color: white;
    font-size: 13px;
    font-weight: bold;
}

.top-middle-section p {
    margin-right: 50px;
    font-weight: 400;
}

.top-right-section {
    display: flex;
    width: 200px;
    align-items: center;
    font-weight: bold;

}

.top-right-left-section {
    display: flex;
    width: 150px;
    color: white;
    font-size: 13px;
}

.top-right-left-section p {
    margin-right: 10px;
}

.cart-icon, .palette-icon {
    filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(323deg) brightness(109%) contrast(100%);
}

.cart-icon {
    width: 25px;
}

.palette-icon {
    width: 40px;
    margin-left: 20px;
    margin-right: 10px;
    transition: filter 0.15s;
}

.title {
    font-size: 20px;
    color: white;
    font-weight: 300;
}

.bottom-section {
    height: 700px;
    margin-right: 100px;
}

.search-bar-search-icon {
    position: relative;
    width: 700px;
    margin-top: 30px;
}

.search-bar {
    width: 700px;
    height: 35px;
    justify-content: center;  border-style: solid;
    background-color: rgba(240, 240, 240, 100);
    border: none;
    opacity: 0.8;
}

.search-bar::placeholder {
    padding-left: 10px;
    font-size: 15px;
}

.search-icon {
    width: 25px;
    margin-left: -50px;

    position: absolute;
    right: 3px;
    top: 6px;
}

.right-section {
    width: 50px;
    background-color: aqua;
}