.header {
    display: flex;
    flex-direction: column;
  
    align-items: center;

    border-bottom-color: rgb(236, 234, 234);
    border-bottom-style: solid;
    border-bottom-width: 1px;


    height: 125px;
    left: 0;
    right: 0;

}

.top-section {
    display: flex;
    width: 100%;
    margin-top: 20px;
}

.top-left-section {
    display: flex;
    align-items: center;
    width: 150px;

}

.top-middle-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    font-weight: bold;
}

.top-middle-section p {
    margin-right: 50px;
}

.top-right-section {
    display: flex;
    width: 200px;
    align-items: center;
    font-weight: bold;

}

.top-right-left-section {
    display: flex;
    width: 150px;
}

.top-right-left-section p {
    margin-right: 10px;
}

.cart-icon {
    width: 25px;
}

.palette-icon {
    width: 25px;
    margin-left: 20px;
    margin-right: 10px;
}

.title {
    font-weight: bold;
    font-size: 15px;
}

.bottom-section {
    height: 700px;
    margin-right: 100px;
}

.search-bar-search-icon {
    position: relative;
    width: 700px;
    margin-top: 30px;
}

.search-bar {
    width: 700px;
    height: 30px;
    justify-content: center;  border-style: solid;
    border-width: 1px;
    border-color: rgb(179, 177, 177);

}

.search-bar::placeholder {
    padding-left: 10px;
    font-size: 15px;
}

.search-icon {
    width: 25px;
    margin-left: -50px;

    position: absolute;
    right: 3px;
    top: 6px;
}

.right-section {
    width: 50px;
    background-color: aqua;
}