.header {
    height: 120px;
    display: flex;
}

.left-section {
    width: 150px;
    background-color: blue;
    display: flex;
    align-items: center;
}

.palette-icon {
    width: 25px;
    margin-left: 20px;
    margin-right: 10px;
}

.title {
    font-weight: bold;
    font-size: 15px;
}

.middle-section {
    flex: 1;
    background-color: blueviolet;
    font-weight:600;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
}

.categories {
    display: flex;
    margin-bottom: 30px;
}

.middle-section p {
    margin-right: 50px;
}

.search-bar-search-icon {
    position: relative;
    width: 500px;
    background-color: brown;
    text-align: center;
}

.search-bar {
    width: 500px;
    height: 25px;
    justify-content: center;  border-style: solid;
    border-width: 1px;
    border-color: rgb(179, 177, 177);
}

.search-bar::placeholder {
    padding-left: 10px;
    font-size: 15px;
}

.search-icon {
    width: 25px;
    margin-left: -50px;

    position: absolute;
    right: 3px;
    top: 3px;
}

.right-section {
    width: 50px;
    background-color: aqua;
}