.image-slider {
    top: 0px;
    height: 725px;

    align-items: center;
    justify-content: center;
}

.slides {
    width: 100%;
    height: 100%;

    overflow: hidden;
    display: flex;
    position: absolute;
}

.slide {
    width: 100%;
    transition: translate 0.5s ease-in-out;

    flex-shrink: 0;
    flex-grow: 0;
   
    display: flex;

    align-items: center;
    justify-content: center;

}

.slider-image {
    object-fit: cover;

    width: 100%;
    height: 100%;
}


.content {
    width: 800px;
    position: absolute;
    top: 38%;
    left: 34%;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
}

.slide-title {
    font-size: 50px;
    margin-bottom: 30px;
    color: white;
    font-weight: 300;
}

.slide-description {
    margin-bottom: 50px;
    font-size: 25px;
    color: white;
    font-weight: lighter;
}

.slide-button {
    background-color: rgba(240, 240, 240, 100);
    padding: 20px 50px 20px 50px;
    border: none;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 300;
    transition: background-color 0.15s color 0.15s;
}

.slide-button:hover {
    background-color: black;
    color: white;
}


.nav-buttons-container {
    display: flex;
    margin-top: 30px;
    position: absolute;
    top: 90%;
    left: 47.5%;

}

.nav-buttons {
    border: none;
    background-color: transparent;
}

.image-slider-line-icon {
    width: 20px;
    transition: 0.15s;
    filter: invert(96%) sepia(93%) saturate(22%) hue-rotate(299deg) brightness(110%) contrast(100%);
}

.image-slider-line-icon:hover {
    scale: 1.2;
}

.left-button, .right-button {
    position: absolute;
    top: 0px;
    bottom: 0px;
    background-color: transparent;
    border: none;
    transition: scale 0.15s;
}

.left-button {
    left: 10px;
}

.right-button {
    right: 10px;
}

.left-button:hover, .right-button:hover {
    scale: 1.2;
}

.left-button img, .right-button img {
    width: 40px;
    filter: invert(96%) sepia(93%) saturate(22%) hue-rotate(299deg) brightness(110%) contrast(100%);
}