.section-title {
    display: flex;
    height: 50px;
    background-color: rgba(240, 240, 240, 100);
    border-radius: 12px;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    width: 2100px;

}

.section-title-content {
    display: flex;
    align-items: center;
}

.section-title-buttons {
    display: flex;
    align-items: center;
    margin-right: 0px;
    gap: 0px;
}

.section-title-buttons button {
    border: none;
    background-color: transparent;
}

.section-title-buttons button img {
    width: 20px;

}

.section-title img {
    width: 25px;
    margin-left: 20px;
    margin-right: 15px;
}

.section-title p {
    font-weight: bold;
    font-size: 16px;
}

.slides1 {
    display: flex;
    overflow: hidden;
    width: 2100px;
    min-height: 500px;
    border-radius: 12px;
}

.slide1 {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    place-items: center;
    flex-shrink: 0;
    flex-grow: 0;
    transition: translate 0.5s ease-in-out;
    background-color: rgba(240, 240, 240, 100);
    margin-top: 10px;
    border-radius: 12px;
    padding-top: 20px;
    padding-bottom: 20px;


}

.artwork {
    min-width:50px;
    min-height: 50px;
    overflow: hidden;
    transition: scale 0.15s;

}

.artwork:hover {
    scale: 1.1;
}

.artwork img {

 width: 230px


}

.trending-artworks {
    margin-right: 50px;
}

.artist {
    font-size: 15px;
    margin-bottom: 3px;
}

.art-title {
    font-size: 15px;
    color: rgb(131, 129, 129);
    font-style: italic;
    margin-bottom: 3px;
}

.price {
    font-size: 14px;
    font-weight: bold;
}